ion-title {
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Coustard', serif;
    font-size: 30px;
}

ion-button {
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Coustard', serif;
    text-transform: capitalize;
    font-size: 20px;
}

.menuItems {
    font-size: 20px !important;
    margin-left: 15px;
}

#menuButton {
    margin-left:15px;
}