ion-title {
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Coustard', serif;
    font-size: 30px;
}

ion-button {
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Coustard', serif;
    text-transform: capitalize;
    font-size: 20px;
}

#storyCard {
    position: absolute;
    right: 5%;
    top: 56px;
    width: 30%;
    height: 45%;
}

#storyCard > ion-header {
    padding: 15px;
}

#storyCard > ion-header > ion-card-title {
    font-size: 30px;
    text-align: center;
}

#menuButton {
    margin-left:15px;
}